@{
    ViewData["Title"] = "Create Team";
}

<div class="container">
    <div class="card border border-5">
        <div class="card-body">
            <div class="row">
                <h1 class="display-4 card-title text-center">Lets add your trip members</h1>
            </div>
            <div class="row">
                <label for="inputAddTripMember">Add Trip Member</label>
                <div class="row">
                    <div class="col">
                        <input id="addTripMemberNameField" type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col">
                        <input id="addTripMemberNumberField" type="tel" class="form-control" placeholder="Phone Number">
                    </div>
                </div>

                <button onclick="createNewMemberField()" type="button" class="btn btn-outline-danger addMember">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    Add Trip Member
                </button>
            </div>
            <label id="yourTeamLabel">Your Team:</label>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table  table-hover " id="yourTeamTable">
                    <thead class="text-center">
                        <tr>

                            <th class="active" scope="col">Name</th>
                            <th class="active" scope="col">Phone Number</th>
                            <th scope="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                    </tbody>
                </table>
            </div>

            

        </div>



    </div>


</div>